/* Edits the Users section */

:root {
    --hidden-user-width: 60px;
    --user-width: 240px;
    --transition-time: .4s;
}

/* Slides Member Area */
.container_c8ffbb, .membersWrap_c8ffbb  {
    transition-duration: var(--transition-time);
    justify-content: unset;
    min-width: unset;
    width: var(--hidden-user-width);
}

.container_c8ffbb:hover, .membersWrap_c8ffbb:hover {
    width: var(--user-width);
}

/* Hides Roles */
.vc-membercount-widget.vc-membercount-member-list,
.membersGroup_c8ffbb.container__13cf1
{
    height: 0px;
    transition-duration: var(--transition-time);
    padding-top: 0px;
    opacity: 0;
    visibility: hidden;
}

.container_c8ffbb:hover .membersGroup_c8ffbb.container__13cf1 {
    height: 40px;
    padding-top: 24px;
    opacity: 1;
    visibility: visible;
}
