/* Edits the Users section */

:root {
    --hidden-user-width: 60px;
    --user-width: 240px;
    --transition-time: .4s;
}

.c8ffbb79449f399c-container,
.c8ffbb79449f399c-membersWrap {
    transition-duration: var(--transition-time);
    justify-content: unset;
    min-width: unset;
    width: var(--hidden-user-width);
}

.c8ffbb79449f399c-membersGroup {
    height: 0px !important;
    padding: 0px !important;
    transition-duration: var(--transition-time);
    overflow: hidden;
}

._0f2e83213c878a13-container {
    height: 0px;
    transition-duration: var(--transition-time);
    overflow: hidden;
    padding: 0px;
    border: none !important;
}

.c8ffbb79449f399c-container:hover .c8ffbb79449f399c-membersGroup,
.c8ffbb79449f399c-membersWrap:hover .c8ffbb79449f399c-membersGroup {
    height: auto !important;
    padding-top: 12px !important;
    padding-bottom: 6px !important;
    transition-duration: var(--transition-time);
}

._91a9d7f7e5248a56-childContainer {
/* padding-left: 0px; */
    transition-duration: var(--transition-time);
}


.c8ffbb79449f399c-container:hover,
.c8ffbb79449f399c-membersWrap:hover {
    width: var(--user-width);
}

.profilePanel-2PWEok {
    transition-duration: var(--transition-time);
}
