/* Edits the Users section */

:root {
    --hidden-user-width: 60px;
    --user-width: 240px;
    --transition-time: .4s;
}

/* Slides Member Area */
.container_f79ab4, .membersWrap__5ca6b {
    transition-duration: var(--transition-time);
    justify-content: unset;
    min-width: unset;
    width: var(--hidden-user-width);
}

.container_f79ab4:hover, .membersWrap__5ca6b:hover {
    width: var(--user-width);
}

/* Hides Roles */
.membersGroup_cad095.container__43554
{
    height: 0px;
    transition-duration: var(--transition-time);
    padding-top: 0px;
}

.container_f79ab4:hover .membersGroup_cad095.container__43554 {
    height: 40px;
    padding-top: 24px;
}
