/******************************************* Top and Bottom Bars *******************************************/
/* From: https://github.com/KillYoy/DiscordNight/ */


/**************************** Top Bar (Channel Name, Buttons, Search etc) ****************************/

/* Titlebar/headerbar, Friends/Activty Feed & Video Call/Voice Chat */
.container__26baa,
.privateChannels__9b518 {
	z-index: 0;
}
.theme-dark .container__26baa.themed_b152d4,
.theme-dark .titleCall-_b9o8P,
.privateChannels__9b518 .searchBar__621ec {
	background: var(--bg-overlay-chat,var(--background-secondary-alt));
	padding: 0px;
	height: 40px;
	min-height: 40px;
}
/* Temp Fix Until Discord Fixes It */
.theme-dark .children_cde9af:after {
	background: transparent;
}
/* Titlebar Icons */
.container__26baa .toolbar__62fb5 .icon_ae0b42 {
	color: #CCCCCC;
}
.container__26baa .toolbar__62fb5 .icon_ae0b42:hover {
	color: #FFFFFF;
}
/* Titlebar Icons: Server Margin Fix */
.container__26baa.themed_b152d4 .toolbar__62fb5 .iconWrapper_de6cd1 {
	margin: 0 4px;
}
.container__26baa.themed_b152d4 .toolbar__62fb5 .iconWrapper_de6cd1+.divider_bdb894 {
	margin-left: 4px;
}
.container__26baa.themed_b152d4 .toolbar__62fb5 .recentsIcon_a585d7 {
	margin-right: 6px;
}
/* Titlebar Icons: Stage Channel Margin Fix */
.container_ffbc98 .participants__9b6fb.transparent__8d0a5.container__26baa .iconWrapper_de6cd1 {
	margin: 0 4px;
}
.container_ffbc98 .participants__9b6fb.transparent__8d0a5.container__26baa .toolbar__62fb5 .topRightContainer-2i_gyJ {
	margin: 0 8px 0px 0px;
}
/* Titlebar Icons: Call/Voice Channel Margin Fix */
.headerWrapper_ea51a0 .transparent__8d0a5.container__26baa .toolbar__62fb5 .button_ab327f,
.headerWrapper_ea51a0 .transparent__8d0a5.container__26baa .toolbar__62fb5 .iconWrapper_de6cd1,
.headerWrapper_ea51a0 .transparent__8d0a5.container__26baa .toolbar__62fb5 .lastButton__5df40 {
	margin: 0 4px;
}
/* Titlebar Help Button */
.container__26baa .iconWrapper_de6cd1[aria-label="Help"] {
	display: var(--Titlebar-Help-Icon);
}
.iconWrapper_de6cd1[aria-label="Help"] {
	-webkit-mask-image: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Help.svg");
	background: #CCCCCC;
}
.iconWrapper_de6cd1[aria-label="Help"]:hover {
	-webkit-mask-image: none;
	background: transparent;
}
/* Titlebar Update Button */
.iconWrapper_de6cd1 .updateIconForeground_abfc5a {
	fill: var(--status-positive-background);
}

/* Titlebar Fullscreen Screensharing Voice Participants Avatars */
.toolbar__62fb5 .speaker__45eaf {
	margin-right: 0px;
	margin-left: 6px;
}

/* Friends/Library Top Bar Buttons */
.container__26baa .tabBar__73938 .item__48dda {
	background-color: transparent;
	border-bottom: 2px solid transparent;
	border-radius: 4px 4px 0px 0px;
}
.container__26baa .tabBar__73938 .item__48dda.selected_a523ff,
.container__26baa .tabBar__73938 .themed_b957e8.selected_a523ff.item__48dda:hover {
	background-color: #232323;
	border-bottom: 2px solid #CCCCCC;
}
.container__26baa .tabBar__73938 .themed_b957e8.item__48dda:hover {
	background-color: #1E1E1E;
	border-bottom: 2px solid #8C8C8C;
}
.container__26baa .tabBar__73938 .addFriend__4c0a2.item__48dda,
.container__26baa .tabBar__73938 .addFriend__4c0a2.item__48dda:hover {
	background-color: var(--info-positive-foreground) !important;
	border-bottom: none !important;
	border-radius: 4px !important;
}
.container__26baa .tabBar__73938 .addFriend__4c0a2.item__48dda.selected_a523ff {
	background-color: #232323;
	border-bottom: 2px solid #CCCCCC !important;
	border-radius: 4px 4px 1px 1px !important;
	color: #FFFFFF;
}
.container__26baa .tabBar__73938 .item__48dda .badge_d35eba {
	background-color: transparent !important;
}

/* Server Name Header */
.container_f41675 .header__77c95 .primaryInfo__8d587 {
	height: 40px;
}
.container_f41675 .header__77c95,
.container_f41675 .header__77c95:hover {
	padding: 0px 8px;
	height: 40px;
	text-align: center;
	z-index: 3;
}
.container_f41675.clickable__1383f,
.container_f41675.clickable__1383f .header__77c95:hover,
.container_f41675.selected__987e6 .header__77c95 {
	background: var(--bg-overlay-chat,var(--background-secondary-alt));
}
/* Server Name Header: Public Server Icon */
.container_f41675.communityInfoVisible_bab80a .header__77c95 .communityInfoPill__1efab {
	background-color: transparent;
	filter: drop-shadow(0 1px 1px hsla(0,0%,0%,.8));
	padding: 0px 2px;
}
.container_f41675.communityInfoVisible_bab80a .header__77c95 .communityInfoPill__1efab .text-xs-normal_ccc5fb {
	padding-left: calc(var(--Channel-List-Width) - 56.6%);
}
.container_f41675.communityInfoVisible_bab80a .header__77c95 .communityInfoPill__1efab .communityIcon__6aa44 path {
	fill: transparent;
}
.container_f41675.communityInfoVisible_bab80a .header__77c95 .primaryInfo__8d587 {
	height: 40px;
}
.container_f41675.communityInfoVisible_bab80a .header__77c95 .communityInfoContainer__6ea3a {
	top: 16px;
	position: fixed;
}
/* Server Name Header: Banner */
.sidebar_e031be [class^='scroller'] [style*="height: 84px;"] {
	height: 95px !important;
}
.container_f41675 .animatedContainer__0e828 {
	background-color: transparent;
	box-shadow: none;
	z-index: 2;
}
.container_f41675 .animatedContainer__0e828 .bannerImage_c73a57,
.container_f41675 .animatedContainer__0e828 .bannerImage_c73a57 .bannerImg_fe5c1b {
	width: var(--Channel-List-Width);
}
.container_f41675 .animatedContainer__0e828::before {
	background: linear-gradient(transparent 0%, #161616 100%, transparent 0%);
	position: absolute;
	content: "";
	height: 8px;
	width: 100%;
	bottom: 0;
	z-index: 1;
}

/* Nitro Boosted Server */
.iconBackgroundTierOne__019cb,
.iconBackgroundTierTwo__4f3b5,
.iconBackgroundTierThree__6ad51,
.header__77c95 [class^='guildIconContainer-'] .flowerStar_fa5ad8 {
	color: #FF73FA;
}
.header__77c95 .iconTierNone__2faa9,
.header__77c95 .iconTierOne__30c58,
.header__77c95 .iconTierTwo__624e0,
.header__77c95 .iconTierThree_c2300b {
	color: #FFFFFF;
}
/* Verified & Partner Server */
.header__77c95 .partnered__79440 {
	color: #4087ED;
}
.header__77c95 .verified_dd501b {
	color: #43B581;
}
.flowerStar_fa5ad8[aria-label="Discord Partner"] path,
.flowerStar_fa5ad8[aria-label="Discord Staff"] path {
	fill: var(--bd-blue);
}
.flowerStar_fa5ad8[aria-label="Verified"] path {
	fill: #43B581;
}

/* Server Header Popout */
.menu__088f7.fixed__5f419[id="guild-header-popout"] {
	background-color: #1C1C1C;
	border-radius: 0px 0px 4px 0px;
	width: var(--Channel-List-Width);
	margin-top: -8px;
}
.menu__088f7.fixed__5f419[id="guild-header-popout"] .separator__174fc {
	margin: 2px 6px;
	border-color: #292929;
}
.menu__088f7.fixed__5f419[id="guild-header-popout"] .labelContainer__4f869 {
	margin: 0px 0px;
	padding: 6px 6px;
}
.menu__088f7.fixed__5f419[id="guild-header-popout"] .scroller__8f066 {
	padding: 0px;
	overflow: hidden !important;
}
.menu__088f7.fixed__5f419[id="guild-header-popout"] .colorDefault_e361cf.focused_dcafb9,
.menu__088f7.fixed__5f419[id="guild-header-popout"] .colorDefault_e361cf:hover:not(.hideInteraction__0b569) {
	background-color: #222222;
	border-radius: 0px;
}
.menu__088f7.fixed__5f419[id="guild-header-popout"] [id="guild-header-popout-premium-subscribe"] .label__563c3,
.menu__088f7.fixed__5f419[id="guild-header-popout"] [id="guild-header-popout-premium-subscribe"] .icon__0bfbf {
	color: #D863D4;
}
.menu__088f7.fixed__5f419[id="guild-header-popout"] [id="guild-header-popout-invite-people"] .label__563c3,
.menu__088f7.fixed__5f419[id="guild-header-popout"] [id="guild-header-popout-invite-people"] .icon__0bfbf {
	color: var(--bd-blue-hover);
}
.menu__088f7.fixed__5f419[id="guild-header-popout"] .colorDanger__08c25 .label__563c3,
.menu__088f7.fixed__5f419[id="guild-header-popout"] .colorDanger__08c25 .icon__0bfbf {
	color: #FF4C4C;
}
.menu__088f7.fixed__5f419[id="guild-header-popout"] #guild-header-popout-invite-people:hover {
	background-color: rgba(69,133,216,0.1);
}
.menu__088f7.fixed__5f419[id="guild-header-popout"] #guild-header-popout-premium-subscribe:hover {
	background-color: rgba(255,115,250,0.1);
}
.menu__088f7.fixed__5f419[id="guild-header-popout"] #guild-header-popout-leave:hover {
	background-color: rgba(165,58,58,0.1);
}
.menu__088f7.fixed__5f419[id="guild-header-popout"] .newBadge__4f501 {
	height: 14px;
	min-height: 14px;
	line-height: 1.2em;
}

/* Server Boosting Goal Plan */
.container_bc43c1 {
	display: var(--Channel-List-Boost-Goal);
	margin: 2px 2px 4px 2px;
	padding: 0px;
}
.container_bc43c1 .textArea__81b51 {
	margin: 0px 0px 0px 4px;
}
.container_bc43c1 .progressBarContainer_e11b41 {
	background-color: #212121;
	margin: 0px 4px 0px 4px;
	width: calc(100% - 8px);
}
.container_bc43c1 .progressBarContainer_e11b41 .tadaIcon__5e3cc {
	transform: scale(1.3) translate(calc(100% - 12px),-4px);
}
.container_bc43c1:after {
	border-bottom: none;
}
/* Server Boosting Goal Plan: Scroller Hover */
.sidebar_e031be .scroller__1f498:hover .container_bc43c1 {
	margin: 2px -2px 4px 2px;
}
/* Server Get Started Goal */
.sidebar_e031be .progressBarContainer__7db4a {
	margin: -4px 0px -6px 0px;
}
.sidebar_e031be .progressBarContainer__7db4a .progressBar__0df5c {
	background-color: #212121 !important;
	margin-top: 0px;
}
.sidebar_e031be .progressBarContainer__7db4a+.divider__7b6ed {
	display: none;
}
.sidebar_e031be .scroller__1f498:hover .progressBarContainer__7db4a {
	margin-right: -4px;
}
.sidebar_e031be .progressBarContainer__7db4a .rightContainer__264fb .rightText__684ee {
	color: #CCCCCC !important;
}

/* Titlebar Channel Title/Topic */
.container__26baa .divider_bdb894 {
	background-color: #313131;
	margin: 0 2px;
}
/* Titlebar Channel Topic icon */
.container__26baa .children_cde9af .icon_ae0b42 {
	color: #CCCCCC;
}
/* Titlebar Channel Follow Button */
.title_d4ba1a.container__26baa .lookFilled__950dd.colorPrimary_ebe632 {
	background-color: var(--bd-blue);
	margin-left: 0px;
}
.title_d4ba1a.container__26baa .lookFilled__950dd.colorPrimary_ebe632:hover {
	background-color: #4789E5;
}
/* Titlebar User Status */
.title_d4ba1a .status__2a4a6 {
	margin: 6px;
}

/* Titlebar Stream Status */
.liveQualityIndicator__5a1de {
	background-color: #333333 !important;
	margin-right: 0px;
}

/* Titlebar Right Search Bar */
.container__26baa .searchBar__5a20a,
.libraryFilter__4f521 .searchBar__9eefb {
	background-color: rgba(0,0,0,.35);
}
.container__26baa .searchBar__5a20a:hover,
.libraryFilter__4f521 .searchBar__9eefb:hover {
	background-color: rgba(0,0,0,.2);
	transition: 120ms;
}
.container__26baa .focused__037a4 .searchBar__5a20a, .open_d3ab4e .searchBar__5a20a {
	width: 260px;
}
/* Selected Filter Tag */
.container__26baa .searchBar__5a20a .DraftEditor-root {
	font-size: 15px;
}
.container__26baa .searchBar__5a20a .searchFilter_dbda51,
.container__26baa .searchBar__5a20a .searchAnswer__2ccaf {
	background-color: #272727;
}

/* Titlebar Right Search Menu Dropdown */
.theme-dark .container__84c26 {
	background-color: #1B1B1B;
	box-shadow: 0px 1px 2px 1px #131313;
	margin-left: -130px;
}
.container__84c26 .focused__68b93 {
	background-color: #1B1B1B;
}
.container__84c26 .focused__68b93:hover,
.container__84c26 .option__91497:hover,
.container__84c26 .option__91497[aria-selected=true] {
	background-color: #161616;
}
.container__84c26 .option__91497:after,
.container__84c26 .option__91497[aria-selected=true]:after {
	background: none;
}
.container__84c26 .option__91497 {
	margin: 0 8px;
}
.container__84c26 .resultsGroup_b221b0:before {
	border-top: 1px solid #262626;
}

/* Search Options: Filters */
.container__84c26 .resultsGroup_b221b0 .header__00739 {
	font-size: 13px;
	padding: 5px 18px 6px;
}
.container__84c26 .resultsGroup_b221b0 .searchOption__3c857 .answer__9ff92 {
	font-size: 14px;
	color: #8C8C8C !important;
}
.container__84c26 .resultsGroup_b221b0 .option__91497 .filter__851fb,
.container__84c26 .resultsGroup_b221b0 .option__91497.user__97b4c .displayUsername__41697 {
	color: #8C8C8C;
}
.container__84c26 .resultsGroup_b221b0 .option__91497 strong,
.container__84c26 .resultsGroup_b221b0 .option__91497 .answer__9ff92,
.container__84c26 .resultsGroup_b221b0 .searchOption__3c857 .filter__851fb {
	color: #CCCCCC;
}
.container__84c26 .resultsGroup_b221b0 .searchResultChannelIcon__80f46,
.container__84c26 .resultsGroup_b221b0 .searchResultChannelCategory__3c246 {
	color: #CCCCCC;
	opacity: 1;
}
/* Search Options: Calendar */
.theme-dark .calendarPicker__47c85 .react-datepicker,
.theme-dark .calendarPicker__47c85 .react-datepicker__header {
	background-color: #1B1B1B;
}
.theme-dark .calendarPicker__47c85 .react-datepicker__day {
	background-color: #151515;
	border: 1px solid #1B1B1B;
}
.theme-dark .calendarPicker__47c85 .react-datepicker__day--outside-month {
	background-color: #111111;
}
.theme-dark .calendarPicker__47c85 .react-datepicker__day:hover,
.theme-dark .calendarPicker__47c85 .react-datepicker__day.react-datepicker__day--selected:hover {
	background-color: #101010;
}
.theme-dark .calendarPicker__47c85 .react-datepicker__day.react-datepicker__day--disabled {
	background-color: #0F0F0F;
	color: #A5A5A5;
}
.theme-dark .calendarPicker__47c85 .react-datepicker__day.react-datepicker__day--disabled:hover {
	background-color: #0C0C0C;
	color: #FFFFFF;
}
.theme-dark .calendarPicker__47c85 .react-datepicker__day.react-datepicker__day--selected:after,
.theme-dark .datePicker_df63a7 .datePickerHint_d023b6 .hintValue__0c960 {
	background-color: var(--bd-blue);
}
.theme-dark .datePicker_df63a7 .datePickerHint_d023b6 .hintValue__0c960:hover {
	background-color: var(--bd-blue-hover);
}
/* Search List Results: Scroller */
.searchResultsWrap__2e184 .scroller__5f036 {
	padding: 8px 0px 0px !important;
}
.searchResultsWrap__2e184 .scroller__5f036::-webkit-scrollbar-thumb {
	background-color: #292929 !important;
}
/* Search List Results */
.searchResultsWrap__2e184 {
	background-color: #161616;
	width: var(--Search-List-Width);
}
.searchResultsWrap__2e184 .searchHeader__4d70e {
	background-color: #0F0F0F;
	padding-left: 22px;
	height: 40px;
}
.searchResultsWrap__2e184 .searchHeader__4d70e .themed_b957e8.item__48dda {
	background-color: transparent;
	border-bottom: 2px solid transparent;
	border-radius: 4px 4px 1px 1px;
	padding: 3px 10px;
}
.searchResultsWrap__2e184 .searchHeader__4d70e .themed_b957e8.item__48dda:hover {
	background-color: #131313;
	border-bottom: 2px solid #A5A5A5;
}
.searchResultsWrap__2e184 .searchHeader__4d70e .selected_a523ff.themed_b957e8.item__48dda {
	background-color: #161616;
	border-bottom: 2px solid #FFFFFF;
}
.searchResultsWrap__2e184 .searchHeader__4d70e .spinnerWrapper__81f9b {
	margin-right: -14px;
}
.searchResultsWrap__2e184 .channelNameContainer__2d85c {
	padding-left: 16px;
	font-size: 17px;
}
.searchResultsWrap__2e184 .button_ef08e7 {
	background-color: #111111;
	border-radius: 4px;
}
.searchResultsWrap__2e184 .searchResult__00093 {
	background-color: #111111;
	border-radius: 0px 4px 4px 0px;
}
.searchResultsWrap__2e184 .searchResult__00093:hover {
	background-color: #0F0F0F;
}
.searchResultsWrap__2e184 .pageControlContainer__86479 .pageButton_bf9853:hover {
	background-color: #202020;
}
.searchResultsWrap__2e184 .pageControlContainer__86479 .pageButton_bf9853 {
	border-radius: 4px;
}
.searchResultsWrap__2e184 .pageControlContainer__86479 .activeButton__70b70 {
	background-color: var(--bd-blue);
}
.searchResultsWrap__2e184 .pageControlContainer__86479 .pageButton_bf9853:hover.activeButton__70b70 {
	background-color: var(--bd-blue-hover);
}

/* Load More Messages Top Box */
.hasMore__8db19 {
	background-color: rgba(40,40,40,0.25);
	box-shadow: none;
	margin-top: 6px;
	color: #FFFFFF;
}
.hasMore__8db19:hover {
	background-color: rgba(40,40,40,0.35);
}
/* New Messages/Mark As Read: Top Notice */
.newMessagesBar__8b272 {
	background-color: #191919;
	opacity: .95;
}
.newMessagesBar__8b272:hover {
	background-color: #212121;
}
/* Viewing Older Messages/Jump To Present: Bottom Button */
.jumpToPresentBar__69174 {
	background-color: #1B1B1B;
	opacity: .95;
}
.jumpToPresentBar__69174:hover {
	background-color: #212121;
}

/* Pinned Messages */
.layer__6b5c3 .header__21b33 {
	background-color: #161616;
	box-shadow: none;
	padding: 10px 0px 10px 20px;
}
.layer__6b5c3 .messageGroupWrapper__1fce2 {
	background-color: #111111;
	border: none;
	border-bottom: 1px solid #1E1E1E;
	border-radius: 0px;
	padding: 4px 0px 4px 0px;
}
.layer__6b5c3 .messageGroupWrapper__1fce2:hover {
	background-color: #0F0F0F;
}
.layer__6b5c3 .messageGroupWrapper__1fce2:nth-last-child(1) {
	border: none;
}
.layer__6b5c3 .messageGroupWrapper__1fce2 .jumpButton__309d6 {
	background-color: transparent;
}
.layer__6b5c3 .emptyPlaceholder_bc117c .image_bbc9d9 {
	filter: grayscale(1);
}
.layer__6b5c3 .messagesPopout__28784::-webkit-scrollbar-thumb {
	background-color: #191919;
}
/* Pinned Messages/Recent Mentions & Unreads Inbox */
.recentMentionsPopout__40c54 {
	height: auto;
	max-height: 88vh;
}
.layer__6b5c3 .messagesPopoutWrap__10dd1,
.layer__6b5c3 .recentMentionsPopout__40c54,
.layer__6b5c3 .container_eb737e {
	background-color: #111111;
	min-width: var(--Inbox-List-Width);
	border-radius: 0px 0px 8px 8px;
}
.layer__6b5c3 .container_eb737e .container__4a36d {
	min-height: 351px;
}
.layer__6b5c3 .header__58a85 {
	background-color: #161616;
	padding: 8px 16px 10px 4px;
	min-height: 40px;
	height: 40px;
}
.layer__6b5c3 .header__58a85 .expandedInboxHeader_b02d0c {
	padding-bottom: 0px;
	display: none;
}
.layer__6b5c3 .header__58a85 .expandedTabSection__0f8b1 {
	margin-left: -11px;
}
.layer__6b5c3 .header__58a85 .topPill__63ad4 .item__48dda {
	margin: 0 6px;
	padding: 2px 6px;
}
.layer__6b5c3 .header__58a85 .topPill__63ad4 .tab_a8a066 {
	border-bottom: 2px solid transparent;
	border-radius: 4px 4px 1px 1px;
}
.layer__6b5c3 .header__58a85 .topPill__63ad4 .tab_a8a066.active__7e7af {
	background-color: #1C1C1C;
	border-bottom: 2px solid #FFFFFF !important;
}
.layer__6b5c3 .header__58a85 .topPill__63ad4 .tab_a8a066:hover {
	background-color: #191919;
	border-bottom: 2px solid #A5A5A5;
}
.layer__6b5c3 .header__58a85 .topPill__63ad4 .tab_a8a066[aria-label="For You"] {
	order: 2;
}
.layer__6b5c3 .header__58a85 .topPill__63ad4 .tab_a8a066:nth-child(1),
.layer__6b5c3 .header__58a85 .topPill__63ad4 .tab_a8a066[aria-label="Mentions"] {
	order: 1;
}
.layer__6b5c3 .tertiary_ad6d80,
.layer__6b5c3 .header__58a85 .secondary__45d4f,
.layer__6b5c3 .header__58a85 .secondary__45d4f:hover,
.layer__6b5c3 .tertiary_ad6d80:hover:not(.disabled__4d064) {
	background-color: transparent;
}
.layer__6b5c3 .container__7c2c1,
.layer__6b5c3 .scroller_e3927b {
	padding: 0px !important;
	margin-bottom: 0px;
}
.layer__6b5c3 .scroller__64264::-webkit-scrollbar-thumb,
.layer__6b5c3 .scroller_e3927b::-webkit-scrollbar-thumb {
	background-color: #212121;
}
.layer__6b5c3 .messagesPopoutWrap__10dd1 .channelHeader_ea0f89 {
	background-color: #191919;
	padding: 0px 8px 0px 7px;
	height: 58px;
}
.layer__6b5c3 .channelHeader_ea0f89 {
	background-color: #191919;
	padding: 0px 6px 0px 26px;
	height: 58px;
}
.layer__6b5c3 .channelHeader_ea0f89 .iconActiveMedium__24185 {
	border-radius: 10px;
}
.layer__6b5c3 .channelHeader_ea0f89 .collapseButton_f8165c {
	margin-left: 4px;
}
.layer__6b5c3 .channelHeader_ea0f89 .dmIcon__160f0,
.layer__6b5c3 .channelHeader_ea0f89 .guildIcon__6a5d6 {
	margin-right: 8px;
}
.layer__6b5c3 .channelHeader_ea0f89 .guildIcon__6a5d6 .acronym__3bbdf {
	font-size: 18px;
	font-weight: 500;
}
.layer__6b5c3 .guildName__3d259 {
	font-size: 13px;
}
.layer__6b5c3 .channelHeader_ea0f89 .badge_e08f91 {
	border-radius: 10px;
	min-width: 6px;
}
.layer__6b5c3 .channelHeader_ea0f89 .tertiary_ad6d80 {
	margin-left: 0px;
}
.layer__6b5c3 .channelHeader_ea0f89 .collapseButton_f8165c {
	left: 0px;
}
.layer__6b5c3 .messageContainer_cb3d47,
.layer__6b5c3 .messages__1aaa1 {
	background-color: #111111;
	padding: 6px 0px 8px 0px;
	margin-left: 0px;
}
.layer__6b5c3 .messages__1aaa1 .container__62863 {
	margin-right: 10px;
}
.layer__6b5c3 .messageContainer__3e208:focus-within .jumpButton__1d651,
.layer__6b5c3 .messageContainer__3e208:hover .jumpButton__1d651,
.layer__6b5c3 .messageContainer_cb3d47:hover .jumpButton_aab0bc {
	background-color: #111111;
}
.layer__6b5c3 .channel__36a7e {
	padding-bottom: 0px;
}
.layer__6b5c3 .footer__6b9ef {
	background-color: #141414;
	padding: 6px;
}
.layer__6b5c3 .scrollingFooterWrap_c0682e {
	display: none;
}
.layer__6b5c3 .iconContainer__58374 .icon_c68d99 {
	color: #A5A5A5;
}
.layer__6b5c3 .colorStatusGreen_ff190e {
	color: var(--info-positive-foreground);
}
/* For You Tab */
.layer__6b5c3 .row_e9c6f6 {
	padding: 8px 8px 8px 12px;
}
.layer__6b5c3 .row_e9c6f6 .unread_ade69e {
	top: 16px;
	height: 24px;
	border-radius: 0px 2px 2px 0px;
	background-color: var(--interactive-active);
}
.layer__6b5c3 .row_e9c6f6 .body_a3f618:hover strong {
	color: #FFFFFF;
	text-decoration: underline;
}
/*
.layer__6b5c3 .row_e9c6f6 .unread_ade69e {
	top: 8px;
	left: -4px;
	height: 40px;
	width: 56px;
	border-radius: 0px 25px 25px 0px;
	background-color: #62656B;
}
*/
.layer__6b5c3 .row_e9c6f6 .friendRequestContainer__6e213 .button__7dc2b {
	padding: 4px 16px;
	display: none;
}
.layer__6b5c3 .row_e9c6f6 .friendRequestContainer__6e213 .ignoreButton__91b92 {
	background-color: var(--status-danger-background);
	border-color: var(--status-danger-background);
}
.layer__6b5c3 .row_e9c6f6 .friendRequestContainer__6e213 .ignoreButton__91b92:hover {
	background-color: #9E1F2C;
	border-color: #9E1F2C;
}
/* Messages Older Than X Days Divider */
.layer__6b5c3 .recentMentionsPopout__40c54.container_eb737e .divider__97d5f {
	margin-top: 22px;
	margin-bottom: 22px;
}
/* View All Unreads */
.layer__6b5c3 .channel__36a7e .lookLink_a2da25.colorLink__4141a {
	margin-bottom: -8px;
	padding-top: 0px;
	width: 100%;
}
/* Inbox Tutorial */
.layer__6b5c3 .tutorial__5bb77,
.layer__6b5c3 .tutorial__5bb77 .tutorialIcon__51741 {
	background-color: #161616;
	border-radius: 0px;
	margin: 0px;
}
/* Pinned Messages/Recent Mentions & Unreads Inbox: Messages Formatting */
.layer__6b5c3 .messages__1aaa1 .groupStart__7b93c {
	margin-top: 4px !important;
	overflow: visible; /* Avatar Decoration Fix */
}
.layer__6b5c3 .cozy_f5c119.wrapper_a62503 {
	padding: 0px 0px 3px 3.125rem;
}
.layer__6b5c3 .avatar__08316 {
	margin-top: 5px;
	left: 0.5rem;
}
.layer__6b5c3 .iconContainer_d0200f {
	width: 3rem !important;
}
.layer__6b5c3 .messageContent_abea64 {
	font-size: 0.9375rem;
}
.layer__6b5c3 .newBadge__40327 {
	background-color: var(--status-danger-background) !important;
	color: #FFFFFF;
}
/* Pinned Messages/Recent Mentions & Unreads Inbox: Forum Post Emoji Fix */
.layer__6b5c3 .message_c5cb1f .markup_a7e664 .emoji {
	height: 18px;
	width: 18px;
}

/************************************* Channel List Bottom Bar ***************************************/

/* Channels Bottom Status Box */
.theme-dark .container_debb33 {
	height: 48px;
	background: var(--bg-overlay-1,var(--background-secondary-alt));
	border-bottom: none;
	margin-bottom: 0px;
	padding: 0px;
	justify-content: space-between;
	z-index: 1;
}
.container_debb33 .withTagAsButton_e22174,
.container_debb33 .withTagless__058f8 {
	height: 100%;
	flex-grow: 1;
	cursor: pointer;
	background-color: transparent;
	border-radius: 0px;
}
.container_debb33 .withTagAsButton_e22174 .nameTag__77ab2,
.container_debb33 .withTagless__058f8 .nameTag__77ab2 {
	padding: 0px 0px 0px 4px;
}
/* User Name & #ID */
.container_debb33 .avatarWrapper__500a6 {
	margin-right: 4px;
}
.container_debb33 .nameTag__77ab2 .subtext_ce73b4 {
	color: #A5A5A5;
	font-size: 10.5px;
	font-weight: 600;
}
/* Mute, Deafen, Settings Buttons */
.container_debb33 .button_ae40a4 {
	width: 18px;
	left: -3px;
}
.container_debb33 .button__581d0 .contents__322f4 svg,
.container_debb33 .button__581d0 .contents__322f4 .lottieIcon_c7076c {
	transform: scale(0.85);
}
.container_debb33 .button_ae40a4:hover {
	background: transparent;
}
/* Settings Buttons: Override Build */
.container_debb33 .button_ae40a4 svg.hasBuildOverride__82784 {
	left: 4px;
}

/* Avatar Speaking Status Border */
.container_debb33 .avatarWrapper__500a6 .avatarSpeaking__747a1 {
	box-shadow: inset 0 0 0 2px var(--status-positive-background), inset 0 0 0 2.5px var(--background-primary);
}
.container_debb33 .avatarWrapper__500a6 [aria-label*="Idle"] .avatarSpeaking__747a1 {
	box-shadow: inset 0 0 0 2px #FAA61A, inset 0 0 0 2.5px var(--background-primary);
}
.container_debb33 .avatarWrapper__500a6 [aria-label*="Do Not Disturb" i] .avatarSpeaking__747a1 {
	box-shadow: inset 0 0 0 2px #F04747, inset 0 0 0 2.5px var(--background-primary);
}
.container_debb33 .avatarWrapper__500a6 [aria-label*="Streaming"] .avatarSpeaking__747a1 {
	box-shadow: inset 0 0 0 2px #F04747, inset 0 0 0 2.5px var(--background-primary);
}
.container_debb33 .avatarWrapper__500a6 [aria-label*="Idle"] .avatarSpeaking__747a1 {
	box-shadow: inset 0 0 0 2px #FAA61A, inset 0 0 0 2.5px var(--background-primary);
}
.container_debb33 .avatarWrapper__500a6 [aria-label*="Offline"] .avatarSpeaking__747a1,
.container_debb33 .avatarWrapper__500a6 [aria-label*="Invisible"] .avatarSpeaking__747a1 {
	box-shadow: inset 0 0 0 2px #747F8D, inset 0 0 0 2.5px var(--background-primary);
}

/* Voice Connected UI */
.container_e1958d {
	background-color: #1B1B1B;
	border-bottom: none;
	padding: 3px 1px 3px 1px;
}
.container_e1958d .size12_cdac29 {
	font-size: 11px;
	line-height: 11px;
	white-space: pre-line;
}
.container_e1958d .horizontal__4848b>.flex_f18b02 {
	margin-left: 0px;
}
.container_e1958d .button_ae40a4 {
	width: 18px;
	margin-left: 5px;
	left: -2px;
}
.container_e1958d .button_ae40a4 svg {
	transform: scale(0.9);
}
.container_e1958d .connection__38593 {
	padding-bottom: 6px;
}
/* Voice Connected UI: Show Voice Users */
.container_e1958d .voiceUsers__12c6d {
	gap: 0.5px;
}
.container_e1958d .voiceUsers__12c6d .primary_a41c2a {
	background-color: transparent;
}
.container_e1958d .voiceUsers__12c6d .speaking__33297 {
	box-shadow: inset 0 0 0 1.5px var(--status-positive-background),inset 0 0 0 2px var(--background-primary);
}
.container_e1958d .voiceUsers__12c6d .avatarIconOverlay_d064a5 {
	background-color: rgba(0,0,0,.45);
}
.container_e1958d .voiceUsers__12c6d .avatarIconOverlay_d064a5 path {
	filter: drop-shadow(0px 0px 2px #191919);
}
/* Noise Suppression */
.container_e1958d .button_ae40a4[aria-label="Noise Suppression powered by Krisp" i] {
	display: var(--Voice-Noise-Suppression);
}
/* Noise Suppression: Menu Popout */
.noiseCancellationPopout__023ec {
	width: 232px;
	padding: 12px;
	margin-bottom: -4px;
	margin-left: -30px;
}
/* Video/Screen Share Buttons */
.container_e1958d .actionButtons__85e3c {
	width: calc(var(--Channel-List-Width) - 5px);
}
.container_e1958d .actionButtons__85e3c .button_b82d53 {
	height: 28px;
	min-height: 28px;
}
.container_e1958d .actionButtons__85e3c .button_b82d53.buttonColor__7bad9,
.container_e1958d .actionButtons__85e3c .button_b82d53.buttonColor__7bad9:disabled {
	background-color: #232323;
	padding: 0px;
}
.container_e1958d .actionButtons__85e3c .button_b82d53.buttonColor__7bad9:hover {
	background-color: #43B58180;
}
.container_e1958d .actionButtons__85e3c .button_b82d53.buttonColor__7bad9.buttonActive_ae686f,
.container_e1958d .actionButtons__85e3c .button_b82d53.buttonColor__7bad9.buttonActive_ae686f:hover {
	background-color: #43B581;
}
.container_e1958d .actionButtons__85e3c .button_b82d53.buttonColor__7bad9[aria-expanded="true"] {
	background-color: var(--bd-blue);
}
/* Activites Button */
.container_e1958d .actionButtons__85e3c .button_b82d53:nth-child(3) {
	display: var(--Start-Activities-Button);
}
.container_e1958d .actionButtons__85e3c .button_b82d53:nth-child(3) .maskSecondary_d8f93c {
	display: none;
}

/* Rich Presence Game/Streaming Game Panel */
.panels__58331 {
	background-color: #1B1B1B;
	z-index: 0;
}
.panels__58331 .panel_bd8c76 {
	border-bottom: 1px solid #212121;
	padding: 6px 1px 5px;
}
.panels__58331 .info_c28002 {
	margin-left: 3px;
	font-size: 13px;
	line-height: 16px;
}
.panels__58331 .info_c28002 .title__4a7a9 {
	font-size: 13px;
	line-height: 14px;
	white-space: initial;
	/* word-wrap: break-word; */
}
/* Game Icon */
.panels__58331 .panel_bd8c76 .gameWrapper_da7443:hover {
	cursor: default;
}
/* Game Icon: No Rich Presence: Missing Icon */
.panels__58331 .panel_bd8c76 .gameWrapper_da7443 svg {
	display: none;
}
/* Stream Game Button */
.panels__58331 .panel_bd8c76 .actions_d57dc4 .panelButtonContainer__0fb51 {
	width: 24px;
	margin-right: -4px;
}
.panels__58331 .panel_bd8c76 .actions_d57dc4 .button_ae40a4 {
	width: 18px;
}
/* Stream Game Button: Hide When Disabled */
.panels__58331 .panel_bd8c76 .actions_d57dc4 .disabledButtonWrapper_b04230 {
	display: none;
}

/* Button Hover */
.panels__58331 .button_ae40a4.enabled__214db:hover {
	background-color: transparent;
}

/* Stream To Server Guide Popup */
.content-N9xlZF {
	background-color: var(--bd-blue);
	padding: 12px;
	max-width: 180px;
}

/* Spotify Listen Along */
.panels__58331 .listeningAlong_a3b241 {
	padding: 4px 1px 6px 1px;
	border-bottom: 1px solid #212121;
}
.panels__58331 .listeningAlong_a3b241 .button_ae40a4 {
	width: 20px;
}

/* RTC Connection Info Popout */
.theme-dark .container__13b2a {
	margin-left: -20px;
}
.theme-dark .container__13b2a .header-2C89wJ {
	background-color: #202020;
}
.theme-dark .container__13b2a section {
	background-color: #1B1B1B;
}

/* New Feature Popup With Video */
.container_bd44c3 .content__79c45 .video__9624f {
	width: 100% !important;
	margin-top: -16px;
}
.container_bd44c3 .content__79c45 {
	padding: 0px;
}