
/***************************************** Text Chat Section *****************************************/

/* Scrollerbar & Background */
.chat__52833 .scroller_e412fe::-webkit-scrollbar-thumb {
	background-color: #212121 !important;
}
.chat__52833 .scroller_e412fe::-webkit-scrollbar-track {
	background-color: #141414 !important;
}

/* Chat Box Area (Padded Container Including The Input Box & Typing Indicator) */
.channelTextArea_c2094b {
	background: var(--bg-overlay-1, var(--background-secondary-alt));
	border-radius: 0px;
	margin: 0px;
}
.channelTextArea_c2094b .scrollableContainer_ff917f,
.channelTextArea__626ee .scrollableContainer_ff917f {
	background: var(--bg-overlay-1, var(--background-secondary-alt));
	border-radius: 0px;
	padding: 2px 2px 2px 4px;
}
.channelTextArea_c2094b .wrapper_a62503 .scrollableContainer_ff917f {
	border-radius: 4px;
	max-width: 94%;
}
.chat__52833 form {
	padding: 0px;
}
/* Chat Box Overflow Scrollbar */
.channelTextArea_c2094b .scrollableContainer_ff917f::-webkit-scrollbar-thumb {
	background-color: #141414;
}
/* Chat Box: Send Longer Messages With Discord Nitro */
.upsell__54a69 {
	background-color: rgba(20,20,20,0.95);
	margin-top: 0px;
}

/* Chat Box Above Container */
.chat__52833 .barBase__8839d {
	margin-bottom: 8px;
}
.chat__52833 .jumpToPresentBar__69174,
.chat__52833 .messagesErrorBar__82c21 {
	padding-bottom: 2px;
}
/* Replying Container */
.clipContainer_ab9cf6 {
	padding-top: 0px;
}
.clipContainer_ab9cf6 .replyBar_ed6afc {
	background-color: #191919;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.clipContainer_ab9cf6 .replyBar_ed6afc [aria-checked="true"] .mentionButton__73096 {
	color: var(--bd-blue);
}
.clipContainer_ab9cf6 .replyBar_ed6afc [aria-checked="true"] .mentionButton__73096:hover {
	color: var(--bd-blue-hover);
}
.clipContainer_ab9cf6 .replyBar_ed6afc .name__084dd {
	color: #FFFFFF;
}
.clipContainer_ab9cf6 replyBar_ed6afc .closeIcon_f5a44a {
	opacity: .6;
}
/* Replying Container: Thread Suggestion Bar */
.clipContainer_ab9cf6 .threadSuggestionBar__717a3 {
	background-color: #191919;
	border: none;
}

/* Chat Box Above Container: Next: Share your opinon! */
.container__3b581 .banner_f13f1e {
	background-color: #171717;
	padding: 4px 12px 14px 12px;
}
.container__3b581 .banner_f13f1e .channelIcon_e4e58f {
	width: 24px;
	height: 24px;
	color: #CCCCCC;
}

/* Summaries BETA */
.topicsDropdownBase_d24a28 {
	border: none;
	box-shadow: var(--elevation-stroke),var(--elevation-high);
}
.topicsDropdownBase_d24a28 .topicsDropdownHeading__6fa9b {
	background: var(--bg-overlay-3,#131313);
	padding: 8px 12px 8px 16px;
}

/* Sticker Preview Container */
.scrollableContainer_ff917f .stickerPreviews_c43243 {
	padding: 4px 0 4px 0px;
}
/* Sticker In Chat */
.clickableSticker__68791 .assetWrapper__671e3 {
	width: var(--Chat-Sticker-Size) !important;
	height: var(--Chat-Sticker-Size) !important;
}

/* Chat Formatting Toolbar */
.toolbar__894c6 {
	background-color: #212121;
}
.toolbar__894c6:before {
	border-top: 8px solid #212121;
}
/* Chat Box: Formatting & Size Fixes */
.channelTextArea_c2094b .textArea_a86690 .slateTextArea_b19976 {
	font-size: 0.9375em
}
.channelTextArea_c2094b .textArea_a86690 .placeholder_dec8c7 {
	color: var(--text-muted);
}
.channelTextArea_c2094b .textArea_a86690 .after_inlineCode-WydEur,
.channelTextArea_c2094b .textArea_a86690 .before_inlineCode-xn8Llh,
.channelTextArea_c2094b .textArea_a86690 .inlineCode-2auMQi {
	background-color: #212121;
}
.channelTextArea_c2094b .textArea_a86690 .blockquoteContainer__66aaa {
	margin: -3px 0 -3px;
}
.channelTextArea_c2094b .textArea_a86690 .markup_a7e664 .emoji {
	height: 1.375rem;
	width: 1.375rem;
}
/* Chat Box: No Attachments Allowed */
.channelTextArea_c2094b .sansAttachButton__5f863 {
	padding-left: 0px;
}
/* Chat Box: Inline Attachments */
.channelTextArea_c2094b .channelAttachmentArea__5e46a {
	padding: 10px 0px 6px;
	/* align-items: center; */
}

/* DiscordFreeEmojis/Freemoji Plugin */
.imageWrapper__178ee[style*="max-width: 64px"],
.imageWrapper__178ee[style*="max-width: 64px"] img,
.imageWrapper__178ee[style*="max-width: 48px"],
.imageWrapper__178ee[style*="max-width: 48px"] img {
	/* height: var(--Chat-Emoji-Large-Size) !important; */
	width: var(--Chat-Emoji-Large-Size) !important;
	border-radius: 0px;
	transform: translateZ(0);
}
/*
.imageWrapper__178ee[style*="max-width: 48px"] .gifTag__9db5a,
.imageWrapper__178ee[style*="max-width: 48px"] .imageAccessory__9614b,
.imageWrapper__178ee[style*="max-width: 48px"]+.altText_a57338 {
	display: none;
}
*/
.imageWrapper__178ee [href*="https://cdn.discordapp.com/emojis/"]+.clickableWrapper__2d2ea+.imageAccessory__9614b {
	display: none;
}

/* Emoji Picker: Add Reaction Small Height */
.contentWrapper_eab878 {
	background-color: #101010;
	height: 448px;
	padding-top: 10px;
}
.contentWrapper_eab878 .nav__2aafa {
	padding: 0px 6px;
}
.contentWrapper_eab878 .nav__2aafa .navButton__0565e {
	padding: 2px 4px;
	margin: 0px 5px;
}
.contentWrapper_eab878 .nav__2aafa .navButton__0565e.navButtonActive_b003de {
	background-color: transparent;
	border-bottom: 2px solid #FFFFFF;
	border-radius: 0px;
}
.contentWrapper_eab878 .nav__2aafa .navButton__0565e.navButtonSuperReactActive__01546 {
	border-bottom: 2px solid #FFFFFF;
	border-radius: 4px 4px 0px 0px;
}
.contentWrapper_eab878 .burstNotice_ea6e72 {
	background-color: transparent;
	padding: 8px;
	margin: 0px;
}
.contentWrapper_eab878 .emojiPickerHasTabWrapper__63198 .categoryList_eac4ac {
	top: 40px;
}
.contentWrapper_eab878 .emojiPicker__5e2e2+.categoryList_eac4ac .categoryItemDefaultCategory__6c3db {
	margin-bottom: 8px;
}

/* Emoji Picker: Height */
.positionContainer_f54115[aria-label="Expression Picker"] {
	height: var(--Emoji-Menu-Height);
}
/* Emoji Picker: Header */
.emojiPicker__5e2e2 .header_e5d8b2,
.wrapper__0757b .header_e5d8b2 {
	background-color: #0F0F0F;
	margin-top: 0px;
	padding: 0 8px 8px;
}
.wrapper__0757b .diversitySelectorOptions_daea2d {
	background-color: #212121;
	border-color: #212121;
	right: 3px;
	top: 0px;
}
/* Emoji Picker: Header Chat Add Reaction Popput */
.translate__02873.didRender__7e24c .header_e5d8b2 {
	padding: 8px !important;
}
.translate__02873.didRender__7e24c .header_e5d8b2 .diversitySelectorOptions_daea2d {
	top: 8px;
}
/* Emoji Picker: Header Super Reaction Button */
.wrapper__0757b .burstToggle__8249a {
	display: var(--Chat-Super-Reaction-Button);
}
/* Emoji Picker: Header: Tabs */
.contentWrapper_e0bb2c {
	background-color: #101010;
	padding-top: 6px;
	margin-top: 8px;
}
.contentWrapper_e0bb2c .navButtonActive__0c878 {
	background-color: transparent;
	border-bottom: 2px solid #FFFFFF;
	border-radius: 0px;
}
.contentWrapper_e0bb2c .navItem__38e35[id="emoji-picker-tab"] {
	order: 0;
}
.contentWrapper_e0bb2c .navItem__38e35[id="gif-picker-tab"] {
	order: 1;
}
.contentWrapper_e0bb2c .navItem__38e35[id="sticker-picker-tab"] {
	order: 2;
}
.contentWrapper_e0bb2c .nav_b56420 {
	padding: 0px 12px;
}
.contentWrapper_e0bb2c .nav_b56420 .navButton_b588d0 {
	padding: 2px 4px;
	margin: 0px 5px;
}
.contentWrapper_e0bb2c .nav_b56420 .navItem__38e35+.navItem__38e35 {
	margin-left: 0px;
}
/* Emoji Picker: Header Search */
.inner__999f6 .icon_fb52f0,
.inner__178b2 .icon__5c8c7,
.inner__178b2 .input__745d4::-webkit-input-placeholder {
	color: #777777;
	font-size: 15px;
}
/* Emoji Picker: Body */
.emojiPicker__5e2e2,
.emojiPicker__5e2e2 .inspector__7b643,
.emojiPicker__5e2e2+.categoryList_eac4ac {
	background-color: #101010;
}
.emojiPicker__5e2e2 .noSearchResultsContainer__89d0b .sadImage__4d614 {
	filter: grayscale(1) contrast(1.34);
}
.emojiPicker__5e2e2 .imageLoading_fb7de7 {
	filter: grayscale(1) contrast(1.4);
}
.emojiPicker__5e2e2 .emojiItem_de65fd:hover .image__43623,
.emojiPicker__5e2e2 .emojiItem_de65fd:hover .emojiSpriteImage_ebfd77 {
	transform: scale(1.15);
}
.emojiPicker__5e2e2 .emojiItem_de65fd .image__43623,
.emojiPicker__5e2e2 .emojiItem_de65fd .emojiSpriteImage_ebfd77 {
	transition: 50ms transform;
}
.emojiPicker__5e2e2 .inner__178b2,
.emojiPicker__5e2e2 .list__30719,
.emojiPicker__5e2e2 .wrapper__91b2c,
.emojiPicker__5e2e2 .wrapper__91b2c.activeNitroHeader_d1c1c7,
.emojiPicker__5e2e2 .noSearchResultsContainer__89d0b,
.emojiPicker__5e2e2 .emojiItem_de65fd.emojiItemSelected__023be {
	background-color: #191919;
}
.wrapper__91b2c.header__3028e.inactiveNitroHeader_db65aa {
	background-color: transparent;
}
.emojiPicker__5e2e2 .emojiItem_de65fd.emojiItemSelected__023be:hover {
	background-color: #26262690;
}
.emojiPicker__5e2e2+.categoryList_eac4ac .categoryItemDefaultCategory__6c3db:hover {
	background-color: #191919;
}
.emojiPickerListWrapper__82e17 .list__30719::-webkit-scrollbar-thumb {
	background-color: #262626;
	border: 2px solid transparent;
}
/* Remove "unlock these emojis with Nitro" Notice */
.emojiPicker__5e2e2 .listWrapper__9d062 .upsellContainer__15a05 {
	display: none;
}
/* Nitro Locked Emojis Background */
.emojiPicker__5e2e2 .listWrapper__9d062 .nitroTopDividerLower_b8e8c6,
.emojiPicker__5e2e2 .listWrapper__9d062 .categorySectionNitroLocked__5b287 {
	background-color: hsl(var(--premium-tier-2-purple-hsl)/.06);
}
/* Nitro Locked Emoji */
.emojiPicker__5e2e2 .emojiLockIconContainer_ed2f80 {
	background-color: #19191999;
	height: 48px;
	width: 48px;
}
.emojiPicker__5e2e2 .emojiLockIconContainer_ed2f80 .emojiLockIcon__05b24 {
	filter: drop-shadow(-1px 1px 3px #000000);
}
/* Upload New Emoji */
.emojiPickerListWrapper__82e17 .emojiItemMedium__344c5 .icon_c974f7 {
	fill: #CCCCCC;
	transition: 50ms transform;
}
.emojiPickerListWrapper__82e17 .emojiItemMedium__344c5:hover .icon_c974f7 {
	fill: #FFFFFF;
	transform: scale(1.05);
}
/* Emoji Picker: Server List */
.wrapper__0757b .emojiPicker__5e2e2+.categoryList_eac4ac,
.contentWrapper_e0bb2c .emojiPicker__5e2e2+.categoryList_eac4ac {
	top: 40px;
}
.contentWrapper_e0bb2c .emojiPicker__5e2e2+.categoryList_eac4ac .categoryItemDefaultCategory__6c3db {
	margin-bottom: 8px;
}
.emojiPicker__5e2e2+.categoryList_eac4ac .categoryItemDefaultCategorySelected__7d6e0 {
	background-color: #202020;
}
.emojiPicker__5e2e2+.categoryList_eac4ac .guildIconWithoutImage_c23d9e,
.emojiPicker__5e2e2 .categorySection__6f1c3 .header__8e271 .guildIconWithoutImage_c23d9e {
	background-color: #36393F;
}
.emojiPicker__5e2e2 .categorySection__6f1c3 .header__8e271 .headerIcon_b1bd3f .guildAcronym__49f8a {
	font-size: 6px;
}
.emojiPicker__5e2e2 .categorySection__6f1c3 .header__8e271 .headerIcon_b1bd3f .mask__7c181 {
	width: 20px;
	height: 20px;
}
/* Emoji Picker: Inspector */
.emojiPicker__5e2e2 .inspector__7b643 {
	padding: 0 12px;
}
.emojiPicker__5e2e2 .inspector__7b643 .emoji__92b46 {
	height: 32px;
	width: 32px;
	margin: -3px
}
.emojiPicker__5e2e2 .inspector__7b643 .guildIconWithoutImage_c23d9e {
	background-color: #36393F;
}
.emojiPicker__5e2e2 .inspector__7b643 .guildAcronym__49f8a {
	font-size: 14px;
}
/* Emoji Picker & Sticker Picker: Nitro Needed Notice */
.emojiPicker__5e2e2 .premiumPromo__9e1ca {
	background-color: #0F0F0F;
}
.emojiPicker__5e2e2 .premiumPromo__9e1ca .premiumPromoClose_bb9fb2 {
	filter: grayscale(1);
}
.emojiPicker__5e2e2 .upsell_ae371b {
	display: none;
}
/* GIFs Picker */
.container__1e477 .header_aac16f {
	box-shadow: 0 1px 0 0 rgba(25,25,25,.3), 0 1px 2px 0 rgba(25,25,25,.3);
	padding: 0 8px 12px;
}
.container__1e477 .header_aac16f .inner__999f6 {
	background-color: #191919;
}
.contentWrapper_e0bb2c .results_d34a85 .gif__2aa16,
.contentWrapper_e0bb2c .results_d34a85 .emptyHintCard_cac1d9,
.contentWrapper_e0bb2c .results_d34a85 .placeholder__99206,
.gifPicker__47a31 .results_d34a85 .placeholder__99206 {
	background-color: #161616;
}
.contentWrapper_e0bb2c .container__4405a .categoryFadeBlurple_ffb0c5 {
	background-color: rgba(58,113,193,0.5);
}
.contentWrapper_e0bb2c .container__4405a .categoryFade_ed9ec1:hover,
.contentWrapper_e0bb2c .container__4405a .categoryFadeBlurple_ffb0c5:hover {
	background-color: rgba(0,0,0,0.1);
}
.contentWrapper_e0bb2c .noResults__22ca7 .sadImage__4d614 {
	filter: grayscale(1) contrast(1.4);
}
/* Stickers Picker */
.contentWrapper_e0bb2c .header__643ce {
	padding: 0 8px 8px;
}
.contentWrapper_e0bb2c .header__643ce .inner__178b2 {
	overflow: hidden !important;
	margin-right: 1px;
}
.contentWrapper_e0bb2c .categoryList_a35b58,
.contentWrapper_e0bb2c .inspector__80c84,
.contentWrapper_e0bb2c .standardStickerShortcut_e9a698 {
	background-color: #101010;
}
.contentWrapper_e0bb2c .wrapper__13e5b,
.contentWrapper_e0bb2c .wrapper__13e5b .wrapper__91b2c,
.contentWrapper_e0bb2c .container_ec5ce2,
.contentWrapper_e0bb2c .loadingIndicator__22567,
.contentWrapper_e0bb2c .createSticker__59b5f,
.contentWrapper_e0bb2c .stickerInspected__29120 .inspectedIndicator__0c5e3 {
	background-color: #191919;
}
.contentWrapper_e0bb2c .wrapper__13e5b .scroller_ac6d1c::-webkit-scrollbar-thumb {
	background-color: #262626;
}
.contentWrapper_e0bb2c .categoryList_a35b58 {
	top: 40px;
}
.contentWrapper_e0bb2c .categoryList_a35b58 .guildIconWithoutImage_c23d9e,
.contentWrapper_e0bb2c .wrapper__13e5b .wrapper__91b2c .guildIconWithoutImage_c23d9e {
	background-color: #36393F;
}
.contentWrapper_e0bb2c .wrapper__13e5b .wrapper__91b2c .headerIcon_b1bd3f .guildAcronym__49f8a {
	font-size: 6px;
}
.contentWrapper_e0bb2c .wrapper__13e5b .wrapper__91b2c .headerIcon_b1bd3f .mask__7c181 {
	width: 20px;
	height: 20px;
}
.contentWrapper_e0bb2c .stickerInspected__29120:hover,
.contentWrapper_e0bb2c .createInspected_e93230 {
	background-color: #1E1E1E;
}
.contentWrapper_e0bb2c .error__4a58f,
.contentWrapper_e0bb2c .loadingIndicator__22567 {
	background-color: transparent;
}
.contentWrapper_e0bb2c .row_b3c4f2 {
	margin-bottom: 4px;
}
.contentWrapper_e0bb2c .row_b3c4f2 .assetWrapperMasked_c4c689 {
	-webkit-mask: none;
}
.contentWrapper_e0bb2c .row_b3c4f2 .stickerUnsendable__6d4dd {
	filter: grayscale(75%);
}
.contentWrapper_e0bb2c .row_b3c4f2 .stickerUnsendable__6d4dd:hover {
	filter: grayscale(0%);
}
.contentWrapper_e0bb2c .searchSuggestion_a4ef6d {
	background: var(--bd-blue);
}
.contentWrapper_e0bb2c .inspector__80c84 {
	padding: 0 12px;
}
.contentWrapper_e0bb2c .inspector__80c84 .stickerAsset_ab864f {
	height: 32px;
	width: 32px;
	margin: -3px;
}
/* Boost Server For Stickers AD */
.contentWrapper_e0bb2c .emptyGuildUpsell__10612 {
	background-color: #111111;
}

/* Soundboard */
.picker__6dca7 {
	background-color: #191919;
}
.picker__6dca7 .header__93ab0,
.picker__6dca7 .wrapper__85934,
.picker__6dca7 .scroller_ac6d1c::-webkit-scrollbar-thumb {
	background-color: #101010;
}
.picker__6dca7 .header__93ab0 .inner__178b2 {
	background-color: #191919;
}
.picker__6dca7 .soundButton__845c7 {
	background-color: var(--bd-blue);
}
.picker__6dca7 .soundAddButton__896b6 {
	background-color: #212121;
}
.picker__6dca7 .soundAddButton__896b6:hover {
	background-color: #262626;
}
.picker__6dca7 .keybindHint__28b43 {
	padding: 4px 16px 4px 16px;
	margin: 0px;
	border-radius: 0px;
}
.picker__6dca7 .guildIconWithoutImage_c23d9e {
	background-color: #36393F;
}
.picker__6dca7 .header__93ab0 .guildAcronym__49f8a {
	font-size: 6px;
}

/* Sticker Suggestion Popup */
.container__3ac06 {
	right: 4px;
	margin-bottom: 10px;
}
.container__3ac06 .containerBackground__65bbe {
	background-color: #1B1B1B;
	border: none;
}
.container__3ac06 .containerBackground__65bbe:after {
	border-top: 7px solid #1B1B1B;
}
.container__3ac06 .maskBackground__4b2ff {
	background-color: #1E1E1E;
}
.container__3ac06 .unownedStickerLockContainer__35d82 {
	background-color: #111111;
	border: 2px solid #111111;
}


/* Reactions Emoji */
.reaction__4a43f .emoji {
	transform: scale(1.3);
	transition: 50ms;
	margin: 0px;
	height: 1.1rem;
}
.reaction__4a43f:hover .emoji,
.reaction__4a43f.reactionMe__9fc5c .emoji {
	transform: scale(1.4);
}

/* Chat Emoji */
.markup_a7e664 .emoji {
	height: var(--Chat-Emoji-Size);
	width: var(--Chat-Emoji-Size);
}
.markup_a7e664 .emoji.jumboable {
	min-height: var(--Chat-Emoji-Large-Size) !important;
	min-width: var(--Chat-Emoji-Large-Size);
	/* transform: translateZ(0); */
}

/* Bot Buttons */
.container__2dd50 .component_d53fb7 {
	margin: 0px 4px 4px 0px;
}
/* Bot Buttons: Dropdowns Selection */
.chat__52833 .lookFilled__9c1ef.select_fe2671 {
	background-color: #151515 !important;
}

/* Chat Upload/Attach File Button */
.channelTextArea_c2094b .attachWrapper_d01704 {
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: 1;
}
.channelTextArea_c2094b .attachWrapper_d01704 .attachButton__56f98 {
	height: 18px;
	width: 13px;
	padding: 0px;
	margin: 0px;
}
.channelTextArea_c2094b .attachWrapper_d01704 .attachButton__56f98 svg {
	width: 12px;
	height: 12px;
}
.channelTextArea_c2094b .attachWrapper_d01704 .attachButton__56f98 .attachButtonInner__84c26 .attachButtonPlus_fd0021 {
	fill: #CECECE;
}
.channelTextArea_c2094b .attachWrapper_d01704 .attachButton__56f98 .attachButtonInner__84c26 .attachButtonPlus_fd0021:hover {
	fill: #FFFFFF;
}
.channelTextArea_c2094b .attachWrapper_d01704 .attachButton__56f98 .attachButtonInner__84c26 {
	height: 14px;
	opacity: 0.3;
	transition: 100ms;
}
.channelTextArea_c2094b .attachWrapper_d01704 .attachButton__56f98 .attachButtonInner__84c26:hover,
.channelTextArea_c2094b .attachWrapper_d01704 .attachButton__56f98[aria-expanded="true"] .attachButtonInner__84c26 {
	transform: scale(1.1);
	opacity: 1;
}


/* Chat Box Buttons */
.channelTextArea_c2094b .scrollableContainer_ff917f {
	overflow-y: visible;
}
.channelTextArea_c2094b .buttons__7ecff {
	height: 42px;
}
/* Send Message Button */
.channelTextArea_c2094b .buttons__7ecff .separator__666aa {
	margin-left: -8px;
}
.channelTextArea_c2094b .buttons__7ecff .separator__666aa .innerButton__9efb8 {
	margin: 0px 16px 0px 6px;
	padding: 0px;
	height: 44px;
}
.channelTextArea_c2094b .buttons__7ecff .separator__666aa .innerButton__9efb8 .sendIcon_f67abd {
	padding-top: 0px;
	width: 22px !important;
	height: 22px !important;
}
.channelTextArea_c2094b .buttons__7ecff .separator__666aa .innerButton__9efb8:hover .sendIcon_f67abd {
	transform: scale(1.14);
}
.channelTextArea_c2094b .buttons__7ecff .separator__666aa .buttonContainer__14dd9 path {
	color: #CECECE;
	opacity: 0.3;
	transition: 100ms;
}
.channelTextArea_c2094b .buttons__7ecff .separator__666aa .buttonContainer__14dd9 .button_dd99ad[disabled] path {
	opacity: 0.1;
}
.channelTextArea_c2094b .buttons__7ecff .separator__666aa .buttonContainer__14dd9:hover path {
	color: #FFFFFF;
	opacity: 1;
}
/* Emoji Menu Button */
.channelTextArea_c2094b .emojiButton__176c8 {
	height: 43px;
	margin-right: 14px;
	margin-left: 0px;
	opacity: 0.3;
}
.channelTextArea_c2094b .emojiButton__176c8.emojiButtonHovered__7519c {
	transform: scale(1.14);
	opacity: 1 !important;
}
/* Emoji & Extra Buttons */
.channelTextArea_c2094b .expression-picker-chat-input-button .button__581d0,
.channelTextArea_c2094b .buttons__7ecff button[aria-label*="Send a gift"] {
	opacity: 0.3;
	transition: 100ms;
}
.channelTextArea_c2094b .expression-picker-chat-input-button .button__581d0:hover,
.channelTextArea_c2094b .expression-picker-chat-input-button .active_a5045e.button__581d0,
.channelTextArea_c2094b .buttons__7ecff button[aria-label*="Send a gift"]:hover {
	transform: scale(1.14);
	opacity: 1;
}
/* Extra Buttons */
.channelTextArea_c2094b .button__437ce {
	margin: 0px 1px 0px 1px;
	width: 23px;
	height: 35px;
	color: #CECECE;
}
.channelTextArea_c2094b .button__437ce:hover {
	color: #FFFFFF;
}
/* Stickers Button */
.channelTextArea_c2094b .buttons__7ecff .stickerButton_c02bc0,
.channelTextArea_c2094b .buttons__7ecff button[aria-label="Open sticker picker"] {
	display: var(--Chatbox-Stickers-Button);
}
.channelTextArea_c2094b .buttons__7ecff .stickerButton_c02bc0 .stickerIcon__3ceda {
	width: 21px !important;
	height: 21px !important;
}
/* Gift Button */
.channelTextArea_c2094b .buttons__7ecff button[aria-label*="Send a gift"] {
	display: var(--Chatbox-Gift-Button);
}
/* Gift Button Menu Popup */
.menu__088f7[id="guild-boosting-chat-input-upsell"] {
	margin-bottom: -8px;
	margin-left: -66px;
}

/* Chat Upload/Attach File Button Popout Menu */
.menu__718c8[id="channel-attach"] {
	margin-bottom: -6px;
	background-color: #232323;
}
.menu__718c8[id="channel-attach"] .optionLabel_a33d86 svg {
	width: 20px;
	height: 20px;
}

/* Vencord Plugin: TypingIndicator Channel */
.sidebar_e031be .wrapper__612a5 .dots_a97068 {
	margin-right: 0px;
}
.sidebar_e031be [class^='scroller']:hover .wrapper__612a5 .dots_a97068 {
	margin-right: -4px;
}
/* Chat Box Area (Padded Container Including The Input Box & Typing Indicator) */
.channelTextArea_c2094b {
	background: var(--bg-overlay-1, var(--background-secondary-alt));
	border-radius: 0px;
	margin: 0px;
}
.channelTextArea_c2094b .scrollableContainer_ff917f,
.channelTextArea__626ee .scrollableContainer_ff917f {
	background: var(--bg-overlay-1, var(--background-secondary-alt));
	border-radius: 0px;
	padding: 2px 2px 2px 4px;
}
.channelTextArea_c2094b .wrapper_a62503 .scrollableContainer_ff917f {
	border-radius: 4px;
	max-width: 94%;
}
.chat__52833 form {
	padding: 0px;
}

/* User Is Typing Indicator */
.typing__6fd1d {
	margin: 0px 0px -1px -21px;
	height: 16px;
	width: 90%;
	font-size: 11px;
	pointer-events: none;
}
.typing__6fd1d strong {
	font-weight: 500;
	pointer-events: auto;
}
.typing__6fd1d .dots_a97068 {
	color: #777777;
}
/* User Is Typing Indicator: Plugin Avatars */
.typing__6fd1d .wrapper__3ed10 {
	width: 14px !important;
	height: 14px !important;
}
/* Slowmode Is Enabled */
.typing__6fd1d .cooldownWrapper__193b2 {
	color: var(--text-muted) !important;
	margin-left: 6px;
	font-size: 10px;
	height: 9px;
	pointer-events: auto;
}
.typing__6fd1d .cooldownWrapper__193b2 .slowModeIcon__2967f {
	margin-left: 2px;
	width: 12px;
}

/* 2 Typing Indicator Dots */
:where(.sidebar_e031be, .container_f79ab4, .cozy_f5c119, .layout_bb8e67) .wrapper__3ed10 .dots_a97068 :nth-child(3) {
	fill: transparent;
}
.wrapper__3ed10 .mask_d5067d rect[width="25"] {
	width: 19px;
}