/************************************** Profile Connections Icons ************************************/

/* Connections Header */
.connectContainer_e331e3 {
	background-color: #141414;
	padding: 14px 0px 12px 14px;
}
.connectContainer_e331e3 .connectionsContainer__3fe05 .inner__51a43 {
	width: 50px;
	height: 50px;
	background-size: 42px 42px;
}
.connectContainer_e331e3 .connectionsContainer__3fe05 .accountButtonInner__00bdd {
	background-color: #191919;
	margin-right: 5px;
}
.connectContainer_e331e3 .connectionsContainer__3fe05 .accountButtonInner__00bdd:hover {
	background-color: #292929;
}
/* Connections List */
.connectionList__5b340 {
	grid-gap: 4px;
}
.connectionList__5b340 .connectionOptionsWrapper__1b820 {
	padding: 10px 10px 0;
}
.connectionList__5b340 .metadataContainer__1842c {
	background-color: #151515;
	border-radius: 0px;
	margin: 0px;
}
.connectionList__5b340 .connectionHeader__2b82f {
	background-color: #141414;
	padding: 10px 16px;
}
.connectionList__5b340 .connectionHeader__2b82f .connectionAccountValue_a30590 {
	font-size: 16px;
}
.connectionList__5b340 .connectionHeader__2b82f .connectionIcon__41220 {
	transform: scale(1.1);
}
.connectionList__5b340 .connectionHeader__2b82f .connectionIcon__41220:hover,
.connectionList__5b340 .connectionHeader__2b82f .connectionDelete__300b7:hover {
	transform: scale(1.25);
	transition: 100ms;
}
/* Connections Icons */
.connectedAccountIcon_e85011 {
	transform: scale(1.3);
}

/* Reddit */
.connectedAccountIcon_e85011[src="/assets/01ec4129d205c6aa3fc8.svg"] {
	filter: grayscale(1) invert(0.96) brightness(2);
}
/* Youtube */
.connectedAccountIcon_e85011[src="/assets/98cb54ad7e152cb8ddd8.svg"] {
	filter: grayscale(1) invert(0.96) brightness(2);
}
/* Twitter / X */
.connectedAccountIcon_e85011[src="/assets/86405e363b6311e00c44.svg"] {
	filter: grayscale(1) brightness(2);
}
/* Battle.net */
.connectedAccountIcon_e85011[src="/assets/5617f28d3b663042a45e.svg"] {
	filter: grayscale(1) brightness(2);
	transform: scale(1.25);
}
/* Spotify */
.connectedAccountIcon_e85011[src="/assets/371bb877e1a3fe7e68dd.svg"] {
	filter: grayscale(1) brightness(2);
}
.connectedAccountIcon_e85011[src="/assets/7231645d01e0b14f58cc.svg"]+.connectedAccountNameContainer__59a05 {
	text-transform: capitalize;
}
/* Twitch */
.connectedAccountIcon_e85011[src="/assets/df45e9df10d924336856.svg"] {
	filter: grayscale(1) invert(0.96) brightness(2);
}
.connectedAccountIcon_e85011[src="/assets/7ccb5f56c32c63e01c04.svg"]+.connectedAccountNameContainer__59a05 {
	text-transform: capitalize;
}
/* Facebook */
.connectedAccountIcon_e85011[src="/assets/dacb3f3794eb5252e56f.svg"] {
	filter: grayscale(1) invert(0.96) brightness(2);
}
/* League Of Legends */
.connectedAccountIcon_e85011[src="/assets/f8097013971399d58217.svg"] {
	filter: grayscale(1) brightness(2);
}
/* Riot Games */
.connectedAccountIcon_e85011[src="/assets/db062734a8b565b22c3e.svg"] {
	filter: grayscale(1) brightness(4);
}
/* Epic Games */
.connectedAccountIcon_e85011[src="/assets/66fc5de5040d6b38cb39.svg"] {
	transform: scale(1.6) translate(0.5px);
}
/* Paypal */
.connectedAccountIcon_e85011[src="/assets/cd538a7ff4cdd66dc377863e809c33bb.svg"] {
	filter: grayscale(1) contrast(1.46);
	transform: scale(1.35);
}
/* Instagram */
.connectedAccountIcon_e85011[src="/assets/0e329b7f29f65c30bc87.svg"] {
	filter: grayscale(1) brightness(5);
	transform: scale(1.25);
}
/* Ebay */
.connectedAccountIcon_e85011[src="/assets/0cbf39030b5e8e3edcd2.svg"] {
	transform: scale(1.4);
}
/* Crunchyroll */
.connectedAccountIcon_e85011[src="/assets/eba5d54d718e2dec078c.svg"] {
	filter: grayscale(1) brightness(5);
}

/* Domain: Inverted */
.connectedAccountIcon_e85011[src="/assets/86be48549d0490add25c.svg"] {
	filter: invert(1);
}
/* Twitter: Inverted */
.connectedAccountIcon_e85011[src="/assets/184666e35ea362100fe7.svg"] {
	filter: invert(1);
}
/* Xbox: Inverted */
.connectedAccountIcon_e85011[src="/assets/a7bfe92b31e77b7496e3.svg"] {
	filter: grayscale(1) invert(0.96) brightness(2);
}
/* Playstation: Inverted */
.connectedAccountIcon_e85011[src="/assets/1b0b60300e4f234337be.svg"] {
	filter: grayscale(1) invert(0.96) brightness(2);
}
/* TikTok: Inverted */
.connectedAccountIcon_e85011[src="/assets/8d59fe36ed8acef1339e.svg"] {
	filter: grayscale(1) invert(1);
}
/* Github: Inverted */
.connectedAccountIcon_e85011[src="/assets/4c987dd2f591afd7c37b.svg"] {
	filter: invert(1);
}
/* Facebook: Inverted */
.connectedAccountIcon_e85011[src="/assets/6fe1b9b3a8f94a01e30f.svg"] {
	filter: grayscale(1) invert(1) brightness(2);
}
/* Steam: Inverted */
.connectedAccountIcon_e85011[src="/assets/fcbb404cb94bae3e97d7.svg"] {
	filter: invert(1);
}
/* Riot Games: Inverted */
.connectedAccountIcon_e85011[src="/assets/d521f9c27b53f7a779e6.svg"] {
	filter: grayscale(1) invert(1) brightness(2);
}
/* Epic Games: Inverted */
.connectedAccountIcon_e85011[src="/assets/dcc7ce82be27249be601.svg"] {
	transform: scale(1.6) translate(0.5px);
	filter: invert(1) brightness(2);
}